/* Write your CSS here */
.list-container {
  list-style-type: none;
}
.button-style {
  background-color: #585076;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  height: 35px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 8px;
  color: #c4c4c4;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 768px) {
  .button-style {
    width: 100px;
  }
}
